.section {
  width: 100%;
  height: 100vh;
  padding-bottom: 20px; /*？？*/
}
h2 {
  text-align: center;
  font-size: 30px;
  color: #2c3e50;
  padding: 150px 0 0;
  letter-spacing: 2px;
}
html hr {
  border: 2px solid #e87e04;
  width: 70px;
  margin: 0 auto 70px;
}
/* 封面 */
#section1 {
  color: #2c3e50;
  position: relative;
  background-repeat: no-repeat;
}
.myInfo {
  padding: 35vh 0 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

/* 封面-section1文字样式 */
#section1 h1 {
  letter-spacing: 4px;
  font-family: cursive, "Lato", sans-serif;
  font-size: 70px;
  font-weight: 400;
}
#section1 h3 {
  letter-spacing: 3px; /*字母间距*/
  font-size: 30px;
  font-weight: 400;
  margin: 40px 0;
}
#section1 div.myInfo > span {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  border: 1px solid;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}
#section1 div.myInfo > span.active {
  background: #223333;
  color: #eee;
}
/* 封面-section1文字入场动画 */
.fade {
  transform: translateY(2em);
  -webkit-transfrom: translateY(2em);
  opacity: 0;
}
.fade.fadesin1 {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
  transition: all 1s 0s;
}
.fade.fadesin2 {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
  transition: all 1s 0.5s;
}
.fade.fadesin3 {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
  transition: all 1s 1s;
}
/* 封面-背景图片模块 */
.bg_img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}
.bg_img li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/* 封面-背景动画 */
.bg_img li.show {
  opacity: 0.8;
  animation: fadescale 5s;
}
@keyframes fadescale {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}
.bg_img li:nth-child(1) {
  background: url("../image/bg1.jpg") center;
  background-size: cover;
}
.bg_img li:nth-child(2) {
  background: url("../image/bg2.jpg") center;
  background-size: cover;
}
.bg_img li:nth-child(3) {
  background: url("../image/bg3.jpg") center;
  background-size: cover;
}
.bg_img li:nth-child(4) {
  background: url("../image/bg4.jpg") center;
  background-size: cover;
}

/* 导航条 */
.navbar.navbar-default {
  background: #2c3e50;
  margin-bottom: 0;
}
#nav {
  height: 70px;
}
.nav_logo {
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 15px;
  color: #eee;
  cursor: pointer;
}
.nav.navbar-nav {
  float: right;
  margin-top: 0px;
}
.nav.navbar-nav li div {
  float: left;
  width: 80px;
  height: 70px;
  line-height: 70px;
  font-size: 14px;
  color: #f5f5f5;
  text-align: center;
  cursor: pointer;
}
.nav.navbar-nav li div:hover {
  color: #e87e04;
}
.collapse.navbar-collapse {
  border: 0px;
  background: #2c3e50;
}
.navbar-toggle {
  margin-top: 18px !important;
}
/* 关于我 */
#section3 {
  padding-bottom: 150px;
}
.img {
  text-align: center;
}
.head_img {
  width: 160px;
  border-radius: 80px;
}
.title {
  padding: 0 30px;
}
.title p {
  color: #888888;
  max-width: 794px;
  padding: 2em 0 0;
  text-indent: 2em;
  margin: 0 auto;
}
/* 求职意向 */
#section4 {
  background-image: url("../image/services-bg.jpg");
  background-attachment: fixed;
  padding-bottom: 150px;;
}

.card {
  text-align: center;
  padding: 15px;
  transition: all 0.5s;
}
.card img {
  width: 80px;
  height: 80px;
}
.card p.ptitle {
  color: #e87e04;
  margin: 2em 0 1em;
}
.card p {
  margin-bottom: 0;
  color: #888888;
}
/* 作品集 */
.container span {
  display: block;
  width: 100%;
  text-align: center;
  color: #888888;
  margin-bottom: 60px;
}
/* 作品集-图片 */
#section5{
  padding-bottom: 150px;
}

#section5 .img_card {
  padding: 10px 10px 10px 10px;
  position: relative;
}
.img_box img {
  width: 100%;
}
.img_card .img_title {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
}
.img_card .img_title a {
  text-decoration: none;
  color: #ffffff;
}
.img_card .img_title h4 {
  font-size: 16px;
  font-weight: 600;
}
.img_card .img_title p {
  text-align: center;
  font-size: 12px;
  margin: 0 20px;
  padding: 0 2em;
}
.img_card .img_title img {
  width: 25px;
  height: 25px;
}

#section5 .img_card:hover {
  padding: 0;
  transition: all 0.3s linear;
}
#section5 .img_card:hover .img_box  img{
  filter:brightness(30%);
}
#section5 .img_card:hover .img_title{
  display: block;
}

/* 技术掌握 */
#section6{
  background-image: url("../image/skills-bg.jpg");
  background-attachment: fixed;
  padding-bottom: 70px;
}